html,
body {
    height: 100%;
    background-color: #659DBD;
}

body {
    text-align: center;
    display: flex;
    color: #fff9ad;
}

a {
    color: #FBEEC1;
}

a:hover {
    color: #DDAD86;
}

#page-name:hover {
    text-decoration: none;
    color: #DDAD86;
}

header .nav-link:hover, .current {
    text-decoration: none;
    background-color: #DDAD86;
    color: white;
    border-radius: 27px;
}

#page-name {
    font-size: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

main .btn {
    background-color: #DDAD86;
    color: white;
    border-radius: 27px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn:hover {
    color: #DDAD86;
    text-decoration: none;
    background-color: #fbeec1;
}

.fab {
    font-size: x-large;
}


/* .container {
    margin-top: 20px;
  } */


  .page {
    display: none;
  }

  .page-active {
    display: block;
  }

  .pagination>li {
      display: inline;
  }

.pagination>li.first, .pagination>li.last {
      display: none;
  }
  


  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  /* @media (min-width: 40em) {
    .featurette-heading {
      font-size: 50px;
    }
  } */
  
  /* @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  } */

  /* .row, .col-md-7, .col-md-5, .col-md-5 a img {
      height: 17rem;
  } */